<div class="customer-filter">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Filters</mat-card-title>
      <mat-card>
        <app-single-step
          *ngFor="let step of steps; let i = index"
          [events]="events"
          [step]="step"
          (test)="onOperatorChange($event)">
        </app-single-step>
      </mat-card>
    </mat-card-header>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-title>Console log:</mat-card-title>
    <pre>
            {{ steps | json }}
        </pre
    >
  </mat-card>
</div>
