<mat-form-field appearance="fill">
	<mat-label>Select Operator</mat-label>
	<mat-select
		[value]="properties.operator"
		(selectionChange)="onOperatorChange($event)"
		[compareWith]="operatorObjectComparison">
		<mat-tab-group animationDuration="0ms">
			<mat-tab
				*ngFor="let operator of operators; let i = index"
				[label]="operator.type">
				<mat-option
					*ngFor="let name of operator.values"
					[value]="{name, operator}">
					{{ name }}
				</mat-option>
			</mat-tab>
		</mat-tab-group>
	</mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
	<mat-label>Input</mat-label>
	<input
		type="text"
		[value]="properties.operator.value_one"
		(change)="onInputChange($event, 'value_one')"
		matInput />
</mat-form-field>

<ng-container *ngIf="properties.operator.name == 'in between'">
	<mat-form-field appearance="fill">
		<mat-label>Input</mat-label>
		<input
			type="text"
			[value]="properties.operator.value_two"
			(change)="onInputChange($event, 'value_two')"
			matInput />
	</mat-form-field>
</ng-container>
