<ng-container *ngIf="events">
        <mat-label>Select Event</mat-label> 
        <mat-form-field>
            <mat-select [(value)]="selectedEvent" (selectionChange)="getEventProperties($event)">
                <mat-option *ngFor="let event of events" [value]="event.type">{{ event.type }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-label>Select Properties</mat-label> 
        <mat-form-field>
            <mat-select (selectionChange)="getEventProperty($event)">
                <mat-option *ngFor="let props of selectedEventProperties" [value]="props">{{ props.property }}</mat-option>
            </mat-select>
        </mat-form-field>
        <ng-container *ngIf="step.properties?.length">
            <app-operators (operatorChange)="onOperatorChange($event)"></app-operators>
        </ng-container>
</ng-container>